<?xml version="1.0" encoding="ISO-8859-15"?>
<OX>
    <OXMENU id="NAVIGATION_ESHOPADMIN">
        <MAINMENU id="mxmanageprod">
            <SUBMENU id="mxarticles" cl="article" list="article_list">
                <TAB id="tbclarticle_attrs" cl="article_jxattredit" />
            </SUBMENU>
        </MAINMENU>
    </OXMENU>
</OX>
